Django==1.6.6
dj-database-url==0.2.2
dj-static==0.0.5
gunicorn==18.0
psycopg2==2.5.1
static==0.4
wsgiref==0.1.2
django-filter==0.7
django-salesforce==0.2.0.1
setuptools-git==1.0
djangorestframework==2.3.12
oauth2==1.5.211
httplib2==0.8
restkit==4.2.2
pytz==2012d
simple-salesforce==0.62.0
python-dateutil==2.2
South==0.8.4
redis==2.9.1
rq==0.3.13
django-rq==0.6.1
newrelic==2.20.1.18
boto==2.30.0
click==2.4
