docker-enter*
log.txt
*swp
*-e
push.log
build.log
postgres.log
wheel.log
stack1.log
stack2.log
db.log
misc.log
stack3.log
newrelic.log
web.log
backups.log
nagios.log
papertrail.log
sentry.log
dbpush.log
webpush.log
miscpush.log
stack*log
buildtools.log
