#
# Docker Stack - Docker stack to manage infrastructures
#
# Copyright 2014 devops.center
#
# Licensed under the Apache License, Version 2.0 (the "License");
# you may not use this file except in compliance with the License.
# You may obtain a copy of the License at
#
#   http://www.apache.org/licenses/LICENSE-2.0
#
# Unless required by applicable law or agreed to in writing, software
# distributed under the License is distributed on an "AS IS" BASIS,
# WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
# See the License for the specific language governing permissions and
# limitations under the License.
#

global
        maxconn 5
        user haproxy
        group haproxy
 
defaults
        log     global
        mode    http
        option  httplog
        option  dontlognull
        retries 3
        option  redispatch
        maxconn 5
        contimeout      5000
        clitimeout      50000
        srvtimeout      50000

backend web-backend
   balance roundrobin
   cookie LSW_WEB insert
   option httpclose
   server app01 web:8000 cookie LSW_APP01 check


backend blog-backend
   balance roundrobin
   mode http
   server blog1 sentry:9000 check
 
#listen webcluster *:80
frontend http
	bind *:80
        stats   enable
        stats   auth us3r:pa55Word
        #balance roundrobin
        #option httpchk HEAD / HTTP/1.1
        #option forwardfor

	acl url_blog path_beg /api/2
	use_backend blog-backend if url_blog

	default_backend web-backend
        mode    http
        option httpclose
        #cookie LSW_WEB insert
        #option httpclose
        #server app01 web:8000 cookie LSW_APP01 check
        
