Django==1.8.7
dj-database-url==0.3.0
dj-static==0.0.6
django-rq==0.6.1

httplib2==0.18.0
xlwt==0.7.5
psycopg2==2.7.3.2
python-dateutil==2.2
pytz==2012d
raven==6.2.1
redis==2.10.5
rq==0.3.13
simple-salesforce==0.62.0
static==0.4
nose==1.3.3
pre-commit==0.13.2
networkx==1.9.1
Jinja2==2.8
jsonfield==1.0.3
hypothesis==1.18.1
hypothesis-datetime==1.5.0
django-ipware==1.1.3
unicodecsv==0.14.1
selenium==2.52.0
objgraph==3.0.0
oauth2client>=4.1.2
google-api-python-client==1.5.3
enum34==1.1.2
django-extensions==1.6.1
cryptography>=2.2.2
boto3==1.7.7

#
# These four have intricate inter-dependencies. Note that these versions are fairly old (4 years), currently constrained
# by the versions supported on Heroku via this buildpack: https://github.com/thenovices/heroku-buildpack-scipy
# In order to build scipy and scikit-learn in a way compatible with numpy, all four need to be done in a 2nd step using --no-use-wheel.
# https://stackoverflow.com/questions/40845304/runtimewarning-numpy-dtype-size-changed-may-indicate-binary-incompatibility
#numpy==1.8.1
#pandas==0.14.1
#scipy==0.14.0
#scikit-learn==0.15.1
