Django==1.6.8
South==1.0
boto==2.30.0
dj-database-url==0.3.0
dj-static==0.0.6
django-rq==0.6.1
flower==0.7.3
gunicorn==19.1.1
httplib2==0.8
newrelic==2.48.0.38
numpy==1.8.1
pandas==0.14.1
xlwt==0.7.5
psycopg2==2.6
python-dateutil==2.2
pytz==2012d
raven==5.1.1
redis==2.9.1
rq==0.3.13
setuptools-git==1.0
simple-salesforce==0.62.0
static==0.4
whitenoise==1.0.5
wsgiref==0.1.2
scikit-learn==0.15.1
scipy==0.14.0
nose==1.3.3
pre-commit==0.3.2
celery[redis]==3.1.7
setproctitle==1.1.8
Jinja2==2.7.3
jsonfield==1.0.3
django-hstore==1.3.5
git+git://github.com/josh-devops-center/django-keyerror@cc9e17825ef6d3bd45278e78c112a7dfbb905249
git+https://github.com/josh-devops-center/django-health-check@2edb407c7ce5438568275c31d2f68aa5e7355e13#egg=django-health-check
